.Navigation {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;

  &-Link {
    border: 1px solid rgb(28, 223, 213);
    font-size: 20px;
    margin-right: 20px;
    color: white;
    padding: 5px;
    border-radius: 3px;
  }

  .active {
    background-color: rgba($color: #f4fafa, $alpha: 1);
    color: rgb(13, 101, 141);
  }
}
