.UserBio {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.UserBioWrap {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid rgb(13, 101, 141);
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(85, 161, 233, 0.5);
  background-color: rgba($color: #f4fafa, $alpha: 1);
}
